<h2>About Me</h2>

<ul>
    <li>
        <p><strong> This is the online home of Maria Turzynska, a web developer living and working in Bergen County, NJ.</strong></p>
        <p class="alt1">
            While I am well-versed in core front end web languages such as HTML, JavaScript, and CSS from my 10 years of experience,
            I am excited by the dynamic and evolving web environment.<br />
            I have been particularly interested in libraries like Raect, Redux  and have spent a lot of my spare time learning these new technologies.
            <br />
            By using modern standards like CSS3 and XHTML5,  I can dramatically reduce the cost of building and maintaining a website. I can also greatly reduce the amount of physical bandwidth and hard disk space required, resulting in immediate long-term benefits for web visitor.
        </p>
        <p class="alt1">With CSS3 and its media queries and flexbox,  I created multiple mobile websites where the performance on a multiple mobile platforms was a key factor. <br />
            I helped  shape design decisions related to performance while accounting for the needs of end users and businesses.
            <br />
            I am strong advocate for development best practices including progressive enhancement, accessibility, performance, scalability, and maintainability.
        </p>
    </li>
    <li><strong>Hobbies</strong>
        <p>Biking, Gardening, Beading, Hiking in  the Wild West and volunteering in no kill Animal Shelter</p>
    </li>

    <li><strong>Weaknesses</strong>
        <p>Chooocooolate !!!</p>
    </li>
</ul>