<div class="hero">
    <section class="layout">
        <div class="branding v-align"><a href="index"><img src="/app/images/logo.png" alt="logo"/></a><span>201-398-8954</span>
            <ul class="nav">
                <li><a href="aboutThisSite"><span>{</span>About This Site<span>}</span></a></li>
                <li><a href="aboutMe" ><span>{</span>About Me<span>}</span></a></li>
                <li><a href="myResume"><span>{</span>Resume<span>}</span></a></li>
                <li><a href="portfolio"><span>{</span>Portfolio<span>}</span></a></li>
            </ul>
        </div>
    </section><!--layout-->
</div><!--hero-->